fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
python-multipart==0.0.9
requests==2.31.0
pandas==2.2.2
pillow==10.3.0
opencv-python-headless==4.9.0.80
pyzbar==0.1.9
openfoodfacts==1.0.0
google-generativeai==0.5.4
feedparser==6.0.11
beautifulsoup4==4.12.3
toml==0.10.2
lxml==5.2.2
httpx==0.27.0
